

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>


<%= link_to("Back to overview", tasks_path) %>
<%= link_to("Edit a task", edit_task_path) %>

<%= link_to 'Delete', task_path, method: :delete, data: {confirm: "Are you sure?"} %>